.user-list ul{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 562px;
}

/* @media only screen and (max-width: 767px) {
    .userlist{
        overflow: hidden;
        display: none;
    }
  } */